# Ignorar entorno virtual
.venv/
venv/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de entorno y configuración
.env
.DS_Store
Procfile
Dockerfile

# Archivos de sistema o IDE
.idea/
.vscode/

# Archivos de datos, modelos, graficos e informes
data/
graphics/
models/
reports/
tests/

# Repositorio HF Spaces
ml-autonomous-agent/

# === Archivos generados por FastAPI o ML ===
*.pkl
*.joblib
*.json
*.sqlite
*.db
*.pdf
*.png
