# Ignorar entorno virtual
.venv/
venv/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de entorno y configuración
.env
.DS_Store
Procfile
Dockerfile

# Archivos de sistema o IDE
.idea/
.vscode/

# Archivos de datos, modelos, graficos e informes
data/
graphics/
models/
reports/
tests/

# === CARPETA DEL HUGGING FACE SPACE ===
# → La mantenemos en local y VS Code para hacer push al Space
# → Pero NUNCA se sube al repo público de GitHub
ml-autonomous-agent/
ml_autonomous_agent/
hf-space/
*.space/

# === Archivos generados por FastAPI o ML ===
*.pkl
*.joblib
*.json
*.sqlite
*.db
*.pdf
*.png
