pandas
numpy
scikit-learn>=1.2
xgboost
matplotlib
seaborn
shap
streamlit
langchain
openai
plotly
python-dotenv
langchain-openai
reportlab
ydata-profiling  # EDA Automático
chardet
 
# WEB APP
fastapi
uvicorn[standard]
jinja2
python-multipart
setuptools>=65.5.0
